.dvProductSlider .bg-color {
  background-color: var(--primary-color);
}
.dvProductSlider ul.points {
  list-style-type: none;
  border: 1px solid var(--black-color);
  border-radius: var(--b-radius);
  padding: 0.5rem 1rem;
  display: inline-block;
}
.dvProductSlider ul.points li {
  display: inline-block;
}
.dvProductSlider ul.points li::after {
  content: "|";
  padding: 0 0.5rem;
}
.dvProductSlider ul.points li:last-child::after {
  content: "";
}
