:root {
  --primary-color: #dabb1c;
  /* --secondary-color:  */
  --black-color: #000000;
  --white-color: #ffffff;
  --b-radius: 4px;
  --fs-lg: 3rem;
  --fs-md: 1.25rem;
  --fs-sm: 1rem;
}

@font-face {
  font-family: robotoRegular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: robotoThin;
  src: url(./assets/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: robotoMedium;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: robotoLight;
  src: url(./assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: robotoBold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotoBlack;
  src: url(./assets/fonts/Roboto-Black.ttf);
}

body {
  font-family: robotoLight;
  font-size: 1rem;
  color: var(--black-color);
}

/*anchor*/
a {
  display: inline-block;
  text-decoration: none;
}

/*image*/
.img-fluid {
  max-width: 100%;
}

/*headings*/
.heading-lg {
  font-size: var(--fs-lg);
}
.heading-md {
  font-size: var(--fs-md);
}
.heading-sm {
  font-size: var(--fs-sm);
}

/*buttons*/
.btn {
  outline: 0;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #ddd;
  color: var(--black-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--b-radius);
}
.btn-black {
  background-color: var(--black-color);
  color: var(--white-color);
}
.btn-black:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.btn-disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

/*table*/
table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
table tr:nth-child(odd) {
  background-color: #f4f4f4;
}

/*f-control*/
.f-control {
  background-color: var(--white-color);
  border: 1px solid #ddd;
  padding: 0.5rem;
  width: 100%;
}
.f-control:focus {
  outline: 0;
}

@media (min-width: 992px) {
  :root {
    --fs-lg: 4rem;
    --fs-md: 1.5rem;
  }
}
